.NAV{
    width:300px;
    height:100px;
    text-align:center;
    color:lightblue;
    margin: 10px;
    margin-left:600px;
    background-color:lightblue;
}
.HERO / PAGE-TITLE{
    width:300px;
    height:100px;
    text-align:center; 
    color:black;
    margin:10px;
    margin-left:600px;
    background-color:lightgreen;
}
.MAIN-ARTICLE CONTENT{
    width:300px;
    height: 100px;
    text-align:center;
    color:black;
    background-color:peachpuff;
    margin:10px;
    margin-left:600px;
}
.ASIDE / RELATED POSTS{
    width:300px;
    height:100px;
    text-align:center;
    color:black;
    background-color:lightblue;
    margin:10px;
    margin-left:600px;
}
.FOOTER{
    width:300px;
    height:100px;
    text-align:center;
    color:black;
    background-color:lightgray;
    margin:10px;
    margin-left:600px;
}
h1{
    margin-left:700px;
}